<a href="https://colab.research.google.com/github/eggarcia98/python_course_02/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a for loop that iterates through a list of strings and prints each string in uppercase.

In [1]:
string_list = ["wood", "car", "hash", "yoghurt", "rain"]

for string in string_list:
  print(string.upper())

WOOD
CAR
HASH
YOGHURT
RAIN

2. Create a for loop that iterates through a list of numbers and prints the square of each number.

In [2]:
number_list = [2,4,6,8,10]

for number in number_list:
  print(number**2)

4
16
36
64
100

3. Create a for loop that iterates through a list of dictionaries and prints the value of a specified key for each dictionary.

In [17]:
import random

a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog', "user": "Erick"}
dict_list = [a_dict]*8

for dictionary in dict_list:
  keys = list(dictionary.keys())
  length_of_keys = len(keys)
  random_index = random.randint(0, length_of_keys - 1)

  random_key = keys[random_index]
  print(dictionary[random_key])

dog
apple
dog
Erick
apple
apple
apple
Erick

4. Create a for loop that iterates through a list of numbers and prints the largest number in the list.

In [23]:
number_list = [34, 56, 10, 97, 52, 83, 65, 9, 43, 17]

largest_number = 0

for number in number_list:
  if number > largest_number:
    largest_number = number

print(largest_number)

97

5. Create a for loop that iterates through a list of lists and prints the sum of the elements in each sub-list.

In [25]:
list_of_number_list = [[34, 56, 10, 97, 52, 83, 65, 9, 43, 17],
 [99, 76, 63, 89, 6, 53, 20, 85, 80, 8],
 [95, 13, 64, 33, 78, 30, 88, 94, 56, 59],
 [76, 81, 98, 27, 89, 95, 72, 40, 44, 79],
 [6, 68, 58, 37, 38, 87, 9, 74, 83, 56],
 [57, 13, 45, 41, 14, 95, 35, 76, 45, 46],
 [62, 55, 98, 93, 84, 3, 15, 70, 34, 98],
 [85, 29, 52, 89, 48, 3, 63, 75, 80, 66],
 [53, 25, 34, 58, 56, 41, 61, 27, 51, 68],
 [68, 72, 92, 7, 75, 89, 63, 1, 11, 80]]


for number_list in list_of_number_list:
  print(f"Sum of {number_list} is {sum(number_list)}")

Sum of [34, 56, 10, 97, 52, 83, 65, 9, 43, 17] is 466
Sum of [99, 76, 63, 89, 6, 53, 20, 85, 80, 8] is 579
Sum of [95, 13, 64, 33, 78, 30, 88, 94, 56, 59] is 610
Sum of [76, 81, 98, 27, 89, 95, 72, 40, 44, 79] is 701
Sum of [6, 68, 58, 37, 38, 87, 9, 74, 83, 56] is 516
Sum of [57, 13, 45, 41, 14, 95, 35, 76, 45, 46] is 467
Sum of [62, 55, 98, 93, 84, 3, 15, 70, 34, 98] is 612
Sum of [85, 29, 52, 89, 48, 3, 63, 75, 80, 66] is 590
Sum of [53, 25, 34, 58, 56, 41, 61, 27, 51, 68] is 474
Sum of [68, 72, 92, 7, 75, 89, 63, 1, 11, 80] is 558