<a href="https://colab.research.google.com/github/eggarcia98/python_course_02/blob/main/project_euler_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [24]:
limit_number = 1000

valid_numbers = []
for n in range(1, limit_number):
  is_multiple_of_3 = n % 3 == 0
  is_multiple_of_5 = n % 5 == 0

  if is_multiple_of_3 or is_multiple_of_5:
    valid_numbers.append(n)

sum_of_valid_numbers = sum(valid_numbers)

print(f"The sum of all the multiples of 3 or 5 bellow {limit_number}: {sum_of_valid_numbers}")

The sum of all the multiples of 3 or 5 bellow 1000: 233168

2. Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

![image.png]()

In [17]:
fibonacci_sequence = [0,1]
init_term = 2

def is_even(number):
  return True if number % 2 == 0 else False

# You can change this parameter to increase the number of terms calculated
max_length_sequence = 100

while len(fibonacci_sequence) - 2 < max_length_sequence:
  fibonacci_sequence.append(0)
  last_index = len(fibonacci_sequence) - 1
  fibonacci_sequence[last_index] = sum(fibonacci_sequence[last_index - 2: last_index])

sliced_fibonacci_seq = fibonacci_sequence[2:]
even_values = list(filter(is_even, sliced_fibonacci_seq))
print(f"The sum of even values from fibonacci seq between (1 to {max_length_sequence}) is {sum(even_values)}")

The sum of even values from fibonacci seq between (1 to 100) is 286573922006908542050

3. The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

4. A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.

Find the largest palindrome made from the product of two 3-digit numbers.

5. 2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

6. The sum of the squares of the first ten natural numbers is, 1^2 + 2^2 + ... + 10^2 = 385

The square of the sum of the first ten natural numbers is, (1 + 2 + ... + 10)^2 = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is, 3025 - 385 = 2640

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

7. By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10001st prime number?

8. A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,
a^2 + b^2 = c^2

For example, 3^2 + 4^2 = 9 + 16 = 25 = 5^2.

There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc.

9. The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million.

10. The sequence of triangle numbers is generated by adding the natural numbers. So the 7th triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28. The first ten terms would be:

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

Let us list the factors of the first seven triangle numbers:

     1: 1
     3: 1,3
     6: 1,2,3,6
    10: 1,2,5,10
    15: 1,3,5,15
    21: 1,3,7,21
    28: 1,2,4,7,14,28

We can see that 28 is the first triangle number to have over five divisors.

What is the value of the first triangle number to have over five hundred divisors?